body {
  margin: 0;
}

/* HEADER */
header,
footer {
  background-color: bisque;
  display: flex;
  justify-content: space-evenly;
}
header p {
  font-size: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header img {
  width: 150px;
}

.menu {
  display: flex;
  align-items: center;
  justify-items: end;
  list-style: none;
  font-size: 2em;
}
.menu li {
  margin-left: 10%;
}

a {
  text-decoration: none;
  color: #68492c;
}

/* NAV ADMIN */
nav {
  background-color: #68492c;
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}
nav li {
  padding: 1em;
}
nav ul a {
  text-decoration: none;
  color: bisque;
}

/* BUSCADOR */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.5em;
}

.tipos {
  width: 30%;
}

.saltolinea {
  width: 100%;
  height: 10px;
}

fieldset,
legend {
  background-color: #68492c;
  border: 1px solid bisque;
  border-radius: 20px;
  margin: 30px;
  width: 50%;
  font-size: 2em;
  color: antiquewhite;
}
fieldset form {
  font-size: 1.5rem;
}
#btn-submit {
  padding: 10px;
  background-color: bisque;
  color: #68492c;
  font-size: 1.5rem;
  border-radius: 20px;
}

/* CATALOGO */

/* LOGIN */
.registro {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: baseline;
}
.contenedor {
  width: 25%;
  display: flex;
  justify-content: center;
}

.contenedor legend {
  font-size: 1.5em;
}

/* FOOTER */

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-content {
  margin-bottom: 10px;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer-text {
  color: #bbb;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
.footer-nav a {
  color: white;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #ffcc00;
}
.footer-rights {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #bbb;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    text-align: left;
  }
}
